body {
    background: #000;
    color: #f7f7f7;
    text-shadow: 2px 2px #000;
}

.wrapper {
    margin: 0 auto;
    border: 5px solid #fff;
    position: relative;
    width: 960px;
    height: 540px;

    #viewport {
        z-index: 0;
    }

    #ui-viewport {
        z-index: 100;
    }

    #viewport,
    #ui-viewport {
        position: absolute;
        top: 0;
        left: 0;
        ul {
            list-style: none;
            padding: 0;
        }
    }
}
