body {
    background: #000;
    color: #f7f7f7;
    text-shadow: 2px 2px #000;
}

.wrapper {
    margin: 0 auto;
    border: 5px solid #fff;
    position: relative;
    width: 960px;
    height: 540px;

    #viewport {
        z-index: 0;
    }

    #ui-viewport {
        z-index: 100;
        box-sizing: border-box;
        ul.console {
            list-style: none;
            position: absolute;
            margin: 0;
            left: 0;
            bottom: 0;
            width: 550px;
            min-height: 88px;
            background: rgba(0, 0, 0, 0.4);
            padding: 15px;
            font-family: courier;
            color: #fff;
        }
    }

    #viewport,
    #ui-viewport {
        top: 0;
        left: 0;
    }
}
